<div class="movie-card" (click)="updateToggle()">
  <div class="movie-container">
    <div class="movie-title">
      @if (node.children?.length) {
        <i class="material-icons"
           [ngStyle]="showChildren() ? {'transform': 'rotate(90deg)'}: {}">
          {{ true ? 'arrow_right' : 'arrow_down' }}
        </i>
      }
      <div [ngStyle]="isMatchingSearch() ? {'background-color': 'lightblue'} : {}" style="padding: 2px;">{{ node.name }}</div>
    </div>
    <i class="material-icons">{{ node.icon }}</i>
  </div>
  <div>
    <i class="material-icons md-36" style="color: slategrey; cursor: pointer;" (click)="removeNode($event)">disabled_by_default</i>
    @if (!node.season_id) {
      <i class="material-icons md-36" style="color: cadetblue; cursor: pointer;" (click)="addNode($event)">add_circle</i>
    }
  </div>
</div>

@if (node.children?.length && showChildren()) {
  <div class="movie-grid">
    @for (node of node.children; track node.id) {
      <app-movie-tree-node [node]="node" [searchText]="searchText"></app-movie-tree-node>
    }
  </div>
}