<div class="movie-card" (click)="updateToggle()">

  <div class="movie-container">
    <div class="movie-title">
      @if (node.children?.length) {
        <i class="material-icons toggle-icon"
           [ngClass]="showChildren() ? 'rotate-to-right': ''">
           arrow_right
        </i>
      }
      <div [ngClass]="isMatchingSearch() ? 'movie-matching-title' : ''"
           class="movie-title-text">
           {{ node.name }}
      </div>
    </div>

    <app-tooltip-wrapper [text]="'See the movie detail'" (click)="openDialog($event)">
      <i class="material-icons md-36 movie-icon">{{ node.icon }}</i>
    </app-tooltip-wrapper>
  </div>

  <div class="movie-actions">
    <app-tooltip-wrapper [text]="'Delete this movie'">
      <i class="material-icons md-36 remove-icon" (click)="removeNode($event)">disabled_by_default</i>
    </app-tooltip-wrapper>
    @if (!node.season_id) {
      <app-tooltip-wrapper [text]="'Add a new movie'">
        <i class="material-icons md-36 add-icon" (click)="addNode($event)">add_circle</i>
      </app-tooltip-wrapper>
    }
  </div>

</div>

@if (node.children?.length && showChildren()) {
  <div class="movie-grid">
    @for (node of node.children; track node.id) {
      <app-movie-tree-node [node]="node"
                           [searchText]="searchText"
                           (dialogData)="setDialogData($event)"/>
    }
  </div>
}