:host {
    .movie-card {
        position: relative;
        border: 1px solid #b0c4de;
        background: white;
        border-radius: 10px;
        padding: 10px;
        margin: 5px 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .movie-card:hover {
        background: #e6f0ff;
        cursor: pointer;
    }
    .movie-matching-title {
        background-color: lightblue;
    }
    .movie-title {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
    }
    .movie-title-text {
        padding: 2px;
    }
    .movie-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }
    .movie-icon {
        padding: 5px;
    }
    .movie-icon:hover {
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }
    .remove-icon {
        color: slategrey;
        cursor: pointer;
    }
    .remove-icon:hover {
        color: darkslategrey;
    }
    .add-icon {
        color: cadetblue;
        cursor: pointer;
    }
    .add-icon:hover {
        color: #3d8b8b;
    }
    .rotate-to-right {
        transform: rotate(90deg);
    }
}