# Dependencies
/node_modules

# Angular build outputs
/dist
/out-tsc
/tmp

# Angular/CLI cache
/.angular/cache

# Test and coverage outputs
/coverage
/.nyc_output

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
testem.log

# IDE/editor files
/.idea
*.iml
/.project
/.classpath
/.settings
/.history
/.c9
*.launch

/.vscode/*
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json

# System files
.DS_Store
Thumbs.db